{% embed 'kinetic:accordion-item' with { heading: content.field_heading_plain.0, parent_id, open: index == 0, key: index} %}
  {% block body %}
    {{ content.field_description.0 }}
  {% endblock %}
{% endembed %}
