{% stories component with {
  title: 'Styleguide/Colors',
} %}
  {% story default with {
    name: '1. Default',
  } %}
    Colors can be displayed here
    {#  @todo pass color variables to here via php eventually and generate the colors here.  #}
  {% endstory %}
{% endstories %}
