{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-' ~ media.bundle()|clean_class,
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {% if media.bundle() == 'image' %}
      {% embed 'kinetic:image' { view_mode: view_mode } only %}
        {{ content }}
      {% endembed %}
    {% elseif media.bundle() == 'video' %}
      {% embed 'kinetic:video' { view_mode: view_mode } only %}
        {{ content }}
      {% endembed %}
    {% else %}
      {{ content }}
    {% endif %}
  {% endif %}
</article>
