{% extends '@kinetic/block/block.html.twig' %}

{% block content %}
  {% embed 'kinetic:rich-text' %}
    {% block text %}
      {{ content.field_description.0 }}
    {% endblock %}
  {% endembed %}
{% endblock %}
