.block-themekit-local-tasks {
  position: relative;
  z-index: 1;
  ul {
    margin: 0;
  }
  a {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    margin: 0;
    &:hover, &:focus {
      opacity: .5;
    }
  }
  li {
    padding: 0;
    margin: 0;

  }
}

.views-field.views-field-thumbnail__target-id, .glb-media-library-item__preview {
  width: 100px;
  padding-bottom: 100px;
}

.glb-canvas-form {
  overflow: initial;
}

.form-tablefield .filter-wrapper {
  display: none;
}
