// See the Themes README under the "Surfaces" section for more information.
@mixin integrate-to-surface($key, $bg-color:null) {
  // does key exist in surfaces?
  $key-exists: map-has-key($surfaces, $key);
  // if not, throw error.
  @if not $key-exists {
    @error "Key #{$key} does not exist in $surfaces map.";
  }

  $values: map.get($surfaces, $key);
  $background-colors: map.get($values, background-colors);

  // Check if a specific BG is being targeted.
  @if $bg-color {
    $bg-color-exists: map-has-key($background-colors, $bg-color);
    @if not $bg-color-exists {
      @error "Background color #{$bg-color} does not exist in $surfaces map.";
    }
    .surface--#{$key}-#{$bg-color}, .surface--#{$key}-#{$bg-color}.priority {
      @content;
    }
  } @else {
    // Create a string containing a selector group from the surface colors.
    // Using a placeholder in the @each will print the rules for every surface
    // instead of either light or dark surfaces.
    $selectors: ".surface--#{$key},.surface--#{$key}.priority,";

    @each $color-key, $color-value in $background-colors {
      $selectors: "#{$selectors}.surface--#{$key}-#{$color-key},";
    }

    #{$selectors} {
      @content;
    }
  }
}
