{% stories card with {
  title: 'Styleguide/Breakpoints',
} %}
  {% story default with {
    name: '1. Default',
  } %}
    You can add some representation of your current breakpoints here.
    {#  @todo pass breakpoint variables to here via php eventually and generate the breakpoints here.  #}
  {% endstory %}
{% endstories %}
