{#
/**
 * @file
 * Theme override to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% if content %}
  {% embed 'kinetic:layout--two-column' %}
    {% block first %}
      {{ include('kinetic:section-region', {region: content.first, layout__region: 'first'}, with_context = false) }}
    {% endblock %}
    {% block second %}
      {{ include('kinetic:section-region', {region: content.second, layout__region: 'second'}, with_context = false) }}
    {% endblock %}
  {% endembed %}
{% endif %}
